<div class="card mb-4">
    <div class="card-header">
        <div class = "row">
            <div class="col col-md-6" >
                <i class="fas fa-table me-1"></i>Books Management
            </div>
            <div class="col col-md-6 d-flex justify-content-end">
                <a routerLink="/admin/create-books" routerLinkActive="active" class = "btn btn-success btn-sm">Add Books</a>
            </div>
        </div>
    </div>
    <div class="card-body">
<table class = "display" cellspacing="0" id="table">
    <thead>
        <tr>
            <th>Book name</th>
            <th>Publisher</th>
            <th>ISBN</th>
            <th>Availability</th>
            <th>Manage</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let book of books">
        <td>{{ book.title }}</td>
        <td>{{ book.publisher }}</td>
        <td>{{ book.isbn }}</td>
        <td>{{ book.availability }}</td>
        <td>
            <button (click) = "updateBooks(book.id)" class="btn btn-primary btn-sm">Edit</button>
            <button (click) = "deleteBooks(book.id)" class="btn btn-danger btn-sm" style="margin-left: 10px;">Delete</button>
        </td>
    </tr>
    </tbody>
</table>
</div>
</div>
<!-- <router-outlet></router-outlet> -->
