<div class="container d-flex justify-content-center align-items-center">
    <div class="card text-center" style="width: 1200px;">
      <div class="card-body">
        <h5 class="card-title">Library info</h5>
        <p class="card-text">The Scientific Library of RTU is an academic library of state significance accredited within the State United Library Information System with the largest collection of traditional sources on engineering and architecture in Latvia – approximately 1.5 million items. The library provides access to a number of electronic resources – databases with 47 000 e-journals and 148 000 e-books – which are available at the library premises and remotely to the registered users.</p>
        <p class="card-text">The Scientific Library of RTU is the first library in Latvia in terms of RFID (Radio Frequencies Identification) technology application. The library's self-service system automates a quick and convenient issuing and collection of books including the opportunity to return books outside library working hours.</p>

            <p class="card-text">There is a spacious reading hall with library stock in open access, rare book reading room, overnight reading room, individual booths and team rooms, cozy kitchenette for visitors, as well as a transformable conference hall.</p>
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Day</th>
                    <th>Opening Time</th>
                    <th>Closing Time</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Monday</td>
                    <td>8:30 AM</td>
                    <td>7:00 PM</td>
                  </tr>
                  <tr>
                    <td>Tuesday</td>
                    <td>8:30 AM</td>
                    <td>7:00 PM</td>
                  </tr>
                  <tr>
                    <td>Wednesday</td>
                    <td>8:30 AM</td>
                    <td>7:00 PM</td>
                  </tr>
                  <tr>
                    <td>Thursday</td>
                    <td>8:30 AM</td>
                    <td>7:00 PM</td>
                  </tr>
                  <tr>
                    <td>Friday</td>
                    <td>8:30 AM</td>
                    <td>5:00 PM</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
  </div>
  