<div class="row">
    <div class="col-md-6">
      <div class="card mb-4">
        <div class="card-header">
          Number of Books
        </div>
        <div class="card-body">
          <h1 class="display-4">{{ totalBooks }}</h1>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card mb-4">
        <div class="card-header">
          Number of Borrowed Books
        </div>
        <div class="card-body">
          <h1 class="display-4">{{ totalBorrowed }}</h1>
        </div>
      </div>
    </div>
  </div>
  
  